# {{ ansible_managed }}
###
# kubernetes proxy config

# default config should be adequate

# Add your own!
KUBE_PROXY_ARGS="{% if kube_proxy_additional_args %}{{ kube_proxy_additional_args }}{% endif %}"
